.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
.DerivedData-macos/
.DerivedData-ios/
.DerivedData-tvos/
.workspace/
coverage.txt
percentage.txt
/.swiftpm/xcode/xcshareddata/xcschemes/swift-math-parser.xcschemes
