/// This xcconfig is used to make Xcode build all of its artefacts to a
/// custom folder. Use it for command line builds so that their caches
/// do not interfere with the caches of normal builds from inside Xcode.
///
/// To make most sense of the following configuration you should also redirect
/// path to derived data using xcodebuild parameter:
/// xcodebuild ...-derivedDataPath $(DERIVED_DATA_DIR)...
/// where $(DERIVED_DATA_DIR) also points to Build-command-line/DerivedData
///
/// Tested against Xcode 7.3.1 (7D1014)
///
/// Source: xcodebuild: how to really change its build path
/// http://stanislaw.github.io/2016/02/28/xcodebuild-how-to-really-change-its-build-path.html

HERE_BUILD=$(SRCROOT)/Build
HERE_INTERMEDIATES=$(HERE_BUILD)/Intermediates

/// Paths
/// the following paths are enough to redirect everything to $HERE_BUILD
MODULE_CACHE_DIR    = $(HERE_BUILD)/DerivedData-macos/ModuleCache
OBJROOT             = $(HERE_INTERMEDIATES)
SHARED_PRECOMPS_DIR = $(HERE_INTERMEDIATES)/PrecompiledHeaders
/// SYMROOT             = $(HERE_BUILD)/Products
